<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <script>
    const roomName = "<%= roomName %>"
  </script>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
  <script src="path/to/FileSaver.min.js"></script>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="message-container">
    <!-- new messages go here -->
  </div>
  <form id="send-container">
    <input type="text" id="message-input">
    <button type="submit" id="send-button">Send</button>

  </form>
  <form id="file-upload-form" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">UPLOAD</button>
  </form>
</body>

</html>