.rp {
    text-align: center;
}

.AR {
    margin-bottom: 150px;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#message-container {
    width: 85%;
    max-width: 1000px;
}

#message-container div {
    background-color: #aba4a4;
    padding: 5px;
}

#message-container div:nth-child(2n) {
    background-color: #58a8fd;
    text-align: left;
}

#send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color: white;
    max-width: 1000px;
    width: 85%;
    display: flex;
}

#file-upload-form {

    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 9999;
    text-align: center;
}

#message-input {
    flex-grow: 1;
}